<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Data Visualization</title>
    <style>
        #chartButtons {
            margin: 20px 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 20px;
        }

        #chartButtons button input {
            padding: 8px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>Data Visualization</h1>
    <div style="height: 300px; width: 500px;">
        <canvas id="chart" ></canvas>
    </div>
        
    <div id="chartButtons">
        <button id="addButton">Add Data Point</button>
        <button id="removeButton">Remove Data Point</button>
        <input type="text" name="label" id="label" placeholder="Enter label">
        <input type="text" name="removeLabel" id="removeLabel" placeholder="Enter label to remove">
        <input type="number" name="num" id="num" placeholder="Enter value">
        <input type="number" name="removeCount" id="removeCount" placeholder="Enter number of points to remove" min="1">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="app.js"></script>
</body>
</html>
